.footerContainer{
  border-top: 5px solid var(--orange);
  background-color: var(--black);
  margin: 0 auto;
  padding: 55px 10rem;

  h2{
    margin-bottom: 3px;
    color: var(--white);
  }

  hr{
    width: 25px;
    height: 4px;
    border: 0px;
    background-color: var(--white);
  }

  p{
    color: var(--white);
  }
}

.sectionContentFooter{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.contentFooter{
  width: 310px;

  a{
    cursor: pointer;
    display: flex;
    color: var(--white);
    text-decoration: none;
    padding-bottom: 15px;
    transition: color 0.7s;

   &:hover{
     color: var(--orange);
   }

 }

 Link{
  cursor: pointer;
 }
}

.containerContacts{
  display: flex;
  padding-bottom: 20px;

  p{
    padding-left: 15px;
  }
}

.copyrightFooter{
  display: flex;
  justify-content: center;
  margin-top: 150px;

  h5{
    color: var(--white);
  }
}