.container {
    height: 100vh;
    max-width: 1180px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
}

.tableContent{
    width: 20%;
    height: 10%;
}

.descriptionText{
    overflow: hidden;
    text-overflow: ellipsis;
}