.container {
  max-width: 1180px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
}

.tableContent {
  width: 20%;
  height: 10%;
}

.descriptionText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.listArticles {
  border: solid 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 250px;

  .boxArticle {
    width: 60%;
    cursor: pointer;
    align-self: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px 0;
    padding-left: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dates {
    width: 9%;
    font-weight: lighter;
    font-size: 0.7rem;
    padding: 90px 10px 40px;
    text-align: center;

    span {
      padding: 3px 0;
    }
  }

}

.bannerArticle {
  border-right: 1px solid;
  object-fit: none;
  width: 45%;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  align-self: center;

  img {
    object-fit: cover;
  }
}

.titleArticle {
  background-color: var(--white);
  text-align: center;
  border: 1px solid;
  padding: 20px 4px 20px;
  font-size: 1.4rem;
  font-weight: 900;
}

.descriptionArticle {
  border-right: 1px solid;
  padding: 15px;
  width: 50%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleUpdate {
  cursor: pointer;
  align-self: center;
  background-color: #1212127d;
  align-self: center;
  padding: 45px;
  height: 324px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
}

.deleteArticle {
  cursor: pointer;
  align-self: center;
  background-color: #1212127d;
  align-self: center;
  padding: 45px;
  height: 324px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
}

.buttonRefresh {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 40px;
  border: 0;
  background-color: var(--red);
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  color: var(--white);
  cursor: pointer;
}

.refresh {
  color: var(--white);
  margin-right: 3%;
}

.emptyList {
  margin-top: 2rem;
}

.articleBox {
  width: 867px;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 1rem 0 5rem 0;
}

.article {
  width: 100%;
}