.sectionContent {
   display: grid;
   width: 100%;
   grid-template-areas: "head head"
      "nav  main"
      "nav  foot";
   grid-template-rows: 50px 1fr 30px;
   grid-template-columns: 150px 1fr;
}

.sectionContent>nav {
   grid-area: nav;
}

.sectionContent>article {
   grid-area: main;
}

.sectionArticle {
   max-width: 1000px;

   h1 {
      font-size: 3rem;
      text-align: center;
   }

   span {
      align-items: center;
   }

   a {
      text-decoration: none;
      color: var(--black);
   }

   .vejaTambem {
      margin: 15px 0;
   }

}

.containerArticlesPages {

   .articleBoxFooter {
      display: flex;
      background-color: var(--white);
      padding: 10px;
      width: 300px;
      height: 150px;

      h4 {
         padding-bottom: 10px;
      }
   }

   .article {

      img {
         width: 160px;
      }
   }
}

.containerArticles {
   display: flex;
   text-align: center;
   justify-content: space-around;
   align-items: center;
}

.pagesFooter {
   text-align: center;
   margin: 45px 0;
   justify-content: center;
}

.previus {

   svg {
      cursor: pointer;
   }
}

.next {

   svg {
      cursor: pointer;
   }
}

.pagination {
   display: flex;
   justify-content: space-between;
   margin-top: 80px;
   margin-bottom: 70px;

   .antes {
      background-color: var(--orange);
      padding: 13px;
      font-weight: 900;
      border: 0;

      a {
         padding: 20px;
      }
   }

   .proximo {
      background-color: var(--orange);
      padding: 13px;
      font-weight: 900;
      border: 0;

      a {
         padding: 20px;
      }
   }
}